*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.flex{
width: 80vw;
height:90vh;
    display: flex;
    flex-direction: column;
flex-wrap: wrap;
    background-color: rgb(83, 81, 81);
  
  
   
}

 .flex .content{
     width: 80vw; 
     height:0vh;  
  
    line-height:1rem;
    color: white;

}

.main_box{
  
    /* when we want to occupy 100%heght of viewport the we use vh unit */
    height: 10vh;
    background-size:cover ;
   
    
    }
    .btn_one i{
        color: white;
        font-size:28px;
        font-weight:700;
        position: absolute;
        left:70px;
        line-height:50px;
    
        cursor: pointer;
        transition: all 0.8s linear;
    }
    .sidebar_menu{
        position: fixed;
        top:-633px;
        height:28vh;
        width: 270px;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
        transition: all 0.8s linear;
       
        margin-top: 2rem;
    }
    /* .sidebar_menu .logo{
        position: absolute;
        width: 100%;
        line-height: 60px;
        box-shadow: 0 0 5px  rgba(255, 255, 255, 0.5);
        height: 60px;
    } */
    
    
    
    .sidebar_menu .btn_two i{
       
        color: white;
        font-size: 25px;
        font-weight: 700;
        position: absolute;
        top:50px;
        opacity: 0;
        line-height:30px;
        cursor: pointer;
        transition: all 1s linear;
        left:10rem;
    }
    
    .sidebar_menu .menu{
      
            position: absolute;
            width: 100%;
          top:80px;
          
    
       
          
          
       }
    
    
    .sidebar_menu .menu li{
    
    
     margin-top:0px ;
        padding:14px 20px;
       
       
    }
    
    
        .sidebar_menu .menu div{
    
        color: white;
        text-decoration: none;
        font-size: 30px;
        font-weight: 700;
    }
    
    .sidebar_menu .menu i{
    padding-right: 8px;
    }
    
    
    
    
    #check{
        display: none;
    }
    .sidebar_menu .menu li:hover{
       
        box-shadow: 0 0 5px  rgba(255, 255, 255, 0.5);
    }
    
    .btn_one i:hover{
    
        font-size:40px;
    }
    
    .btn_two i:hover{
        
        font-size:33px;
    }
    
    
    
    #check:checked ~ .sidebar_menu {
    
        top: 0;
    }
    
    
    
    
    
    #check:checked ~ .sidebar_menu .btn_two i {
    
        opacity: 1;
    }
    
    .btn_one p{
    
        padding-top:2rem;
    }