.time{
    /* border: 1px solid rgb(227, 18, 18); */
    border-radius: 25% 10%;
    width: 200px;
    height: 80px;
    margin: auto;
    padding: 1rem;
    background-color: rgb(26, 2, 67);
    box-shadow: 0px 4px 5px rgb(212, 81, 81);
    color: aquamarine;
}